{{#data}}
<div class="soundscape">
    <div class="sound-icon mute {{../autoplay}}">
        <iconify-icon icon="codicon:mute"></iconify-icon>
    </div>
    <audio src="/static/Forest-ambience.mp3"></audio>
</div>
<div class="campaign">
    <h1>{{campaigntext}}</h1>
    {{#if transition}}
    <div class="tree-image"></div>
    {{/if}}
    <div id="campaign-description">
        {{#description}}
            {{#if ../../animate}}
                <span class="animate">{{.}}</span>
            {{else}}
                <span>{{.}}</span>
            {{/if}}
        {{/description}}
    </div> 
</div>

{{/data}}