<body>
    {{>campaign data=data}}
    <div class="all-signatures">
        <h2>{{count}} people are supporting {{campaign}}.</h2>
        {{#signers}}
        <div class="entry">
            <p class="name">{{firstname}} {{lastname}}</p>
            <div class="signature-img">
                <img src="{{signature}}" alt="signature" >
            </div>
        </div>
        {{/signers}}
    </div>
</body>
